<div class="container">

  <p>
    <strong>Body:</strong>
    <%= @news.body %>
  </p>

  <%= link_to 'Редактировать', edit_news_path(@news), class: "btn btn-primary" %> 
  <%= link_to 'Назад', news_index_path, class: "btn btn-primary" %>
  <%= link_to 'Удалить новость', @news, method: :delete, data: { confirm: 'Are you sure?' } , class: "btn btn-danger"%>
</div>
